.pagination .page-link {
    color: #0835c5;
    cursor: pointer;
}

.pagination .page-link:hover {
    color: #001eb3;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}

.dark-theme .pagination .page-link {
    color: #a7c7ff;
}

.dark-theme .pagination .page-link:hover {
    color: #4aa3ff;
}

.dark-theme .pagination .page-item.disabled .page-link {
    color: rgba(255, 255, 255, 0.35);
}
