/* Убедитесь, что body и html занимают всю высоту */
html, body {
    height: 100%;
    margin: 0;
  }
  
/* Общий контейнер для всего приложения */
.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Занимает всю высоту экрана */
    width: 100%; /* Обеспечивает растягивание на всю ширину */
  }
  
  /* Navbar */
  .navbar {
    width: 100%; /* Растягиваем Navbar по всей ширине */
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для навбара */
  }
  
  /* Контейнер с Sidebar и контентом */
  .app-container {
    display: flex;
    flex: 1;
    width: 100%; /* Растягивается на всю ширину */
    height: 100%; /* Вытягивается на всю высоту */
  }
  
  /* Sidebar и контент */
  .content {
    height: 100%; /* Занимает всю высоту */
    padding: 20px;
    background-color: #ffffff;
    padding-right: 100px;
  }
  